{% extends "main/base.html" %}
{% block title %}Password reset sent | {{ block.super }}{% endblock %}
{% block customstyles %}
    <style>
        .container.view {
            height: 100vh;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="container view">
        <div class="flex-center flex-column text-center">
            <h1 class="h1-responsive animated fadeIn mb-2">Password reset link sent!</h1>
            <h5 class="animated fadeIn mb-1">We've emailed you instructions for setting your password, if an account
                exists with the email you entered. You should receive them shortly.</h5>
            <h5 class="animated fadeIn mb-1">If you don't receive an email, please make sure you've entered the address
                you registered with, and check your spam folder.</h5>
            <a href="{% url 'login' %}" class="btn btn-large blue animated fadeIn"><i class="fa fa-sign-in mr-2"></i>
                Login</a>
        </div>
    </div>
{% endblock %}
