{% extends "main/base.html" %}
{% block title %}Password change successful | {{ block.super }}{% endblock %}
{% block customstyles %}
    <style>
        .container.view {
            height: 100vh;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="container view">
        <div class="flex-center flex-column text-center">
            <h1 class="h1-responsive animated fadeIn mb-3">Password change successful!</h1>
            <a href="{% url 'login' %}" class="btn btn-large blue animated fadeIn"><i class="fa fa-sign-in mr-2"></i>
                Dashboard</a>
        </div>
    </div>
{% endblock %}
