{% extends "main/base.html" %}
{% block title %}{% if validlink %}Enter new password{% else %}Password reset unsuccessful{% endif %} |
    {{ block.super }}{% endblock %}
{% block customstyles %}
    <style>
        html, body, .view {
            min-height: 100vh;
        }

        .flex-center ul li {
            margin-bottom: 0;
            list-style-type: disc;
        }

        .flex-center ul {
            text-align: left;
            margin-left: 1.5rem;
        }
    </style>
{% endblock %}
{% block main %}
    {% if validlink %}
        <div class="container view flex-center">
        <div class="row flex-center mt-3 mt-md-5">
        <div class="col-lg-12 col-md-8 mb-3">
                <section class="form-simple">
                    <div class="card">
                        <div class="header pt-2 grey lighten-2">
                            <div class="row d-flex justify-content-start">
                                <h3 class="deep-grey-text mt-1 mb-2 pb-1 mx-5">Reset Password</h3>
                            </div>
                        </div>
                        <div class="card-body mx-4 mt-4">
                            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                            <form action="" method="post" class="ig-form">
                                {% csrf_token %}
                                {% include 'mixins/error_mixin.html' with field=form.new_password1 %}
                                <div class="md-form">
                                    <input type="password" name="{{ form.new_password1.name }}" class="form-control"
                                           id="{{ form.new_password1.id_for_label }}" required/>
                                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                                </div>
                                <p>
                                    <small>{{ form.new_password1.help_text|safe }}</small>
                                </p>
                                {% include 'mixins/error_mixin.html' with field=form.new_password2 %}
                                <div class="md-form">
                                    <input type="password" name="{{ form.new_password2.name }}" class="form-control"
                                           id="{{ form.new_password2.id_for_label }}" required/>
                                    <label for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
                                </div>
                                <div class="text-center mb-4">
                                    <button type="submit" class="btn btn-primary btn-block z-depth-2"><i
                                            class="fa fa-arrow-right mr-2"></i>Change my password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </div>
    {% else %}
        <div class="container view flex-center">
            <div class="flex-center flex-column text-center">
                <h1 class="h1-responsive animated fadeIn mb-2">Password reset unsuccessful!</h1>
                <h5 class="animated fadeIn mb-1">The password reset link was invalid, possibly because it has already
                    been used. Please request a new password reset link.</h5>
                <a href="{% url 'oauth:password_reset' %}" class="btn btn-large blue animated fadeIn"><i
                        class="fa fa-sign-in mr-2"></i>
                    Reset Password</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
