{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title %}Reset Password | {{ block.super }}{% endblock %}
{% block customstyles %}
    <style>
        html, body, main, .view {
            min-height: 100vh;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="container view flex-center">
        <div class="row flex-center mt-3 mt-md-5">
        <div class="col-lg-5 col-md-7 mb-3">
            <section class="form-simple">
                <div class="card">
                    <div class="header grey pt-1 lighten-2">
                        <div class="row d-flex justify-content-start">
                            <h3 class="deep-grey-text mt-2 mb-2 pb-1 mx-5">Reset Password</h3>
                        </div>
                    </div>
                    <div class="card-body mx-4 mt-4">
                        <p class="mb-2">Forgot your password? Please enter your email address. You will receive a link to
                            create a new password via email.
                            <small><span class="red-text">*</span>Check your spam</small>
                        </p>
                        <form action="" method="post" class="ig-form">
                            {% csrf_token %}
                            <div class="md-form">
                                {% include 'mixins/error_mixin.html' with field=form.email %}
                                {{ form.email }}
                                <label for="{{ form.email.id_for_label }}">Your Email</label>
                            </div>
                            <div class="text-center mb-4">
                                <button type="submit" class="btn btn-primary btn-block z-depth-2"><i
                                        class="fa fa-send mr-2"></i>Send Reset Link
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        </div>
    </div>
{% endblock %}
