{% extends 'forum/base.html' %}
{% load staticfiles %}
{% block title %}Profile: {{ userprofile.user.get_full_name }}{% endblock %}
{% block customstyles %}
    <link rel="stylesheet" href="{% static 'css/profile_detail.css' %}"/>
    <style>
        .fixed-action-btn-fix {
            position: fixed;
            right: 24px;
            bottom: 35px;
            padding-top: 15px;
            margin-bottom: 0;
            z-index: 998;
        }

        .card-up {
            background: url('{% include 'oauth/mixins/user_cover_src_mixin.html' with userprofile=userprofile %}') center;
            background-size: cover;
        }

        .d-flex.justify-content-between.align-middle {
            margin: 0 !important;
        }

        .align-middle div#edit i {
            font-size: 1.4rem;
        }
    </style>
{% endblock %}
{% block navtitle %}About: {{ userprofile.user.first_name }}{% endblock %}
{% block content %}
    <div class="profile-container">
        {% if request.user.id == userprofile.user.id %}
            <div class="fixed-action-btn-fix">
                <a class="btn-floating btn-large red" href="{% url 'oauth:edit' userprofile.roll %}" data-toggle="tooltip"
                   data-placement="left" title="Edit Profile">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
        {% endif %}
        <div class="rellax header" data-rellax-speed="-4">
            <div class="flex-center">
                <h2 class="h2-responsive white-text"><strong>Gymkhana</strong> About Me</h2>
            </div>
        </div>
        <div class="rellax content" data-rellax-speed="5">
            <div class="container-fluid">
                <div class="row text-center">
                    <!--First column-->
                    <div class="col-12">
                        <!--Rotating card-->
                        <div class="card-wrapper">
                            <div id="card-1">
                                <div class="face front">
                                    <!-- Image-->
                                    <div class="card-up">
                                    </div>
                                    <!--Avatar-->
                                    <div class="avatar"><img
                                            src="{% if userprofile.avatar %}{{ userprofile.avatar.crop.150x150 }}{% else %}{% static 'assets/others/missing.png' %}{% endif %}"
                                            class="rounded-circle img-responsive">
                                    </div>
                                    <!--Content-->
                                    <div class="card-block">
                                        <h4>{{ userprofile.user.get_full_name }}</h4>
                                        <span> ({{ userprofile.roll }})</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.Rotating card-->
                    </div>
                    <!--/First column-->
                </div>
            </div>
            <div class="container-fluid mt-1 mb-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-block">
                                <h4 class="flex-item card-title">Personal Info</h4>
                                <div id="hr"></div>
                                <div id="icons" class="flex-column">
                                    <div><i class="fa fa-venus-mars"></i>
                                        <span>{{ userprofile.get_gender_display }}</span>
                                    </div>
                                    <div><i class="fa fa-phone"></i>
                                        <span>{{ userprofile.phone }}</span>
                                    </div>
                                    <div><i class="fa fa-envelope-o"></i>
                                        <span>{{ userprofile.user.email }}</span>
                                    </div>
                                    <div><i class="fa fa-map-marker"></i>
                                        <span>{{ userprofile.hometown }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-block">
                                <h4 class="card-title">Branch, date of birth and more</h4>
                                <div id="hr"></div>
                                <div id="icons" class="flex-column">
                                    <div><i class="fa fa-birthday-cake"></i>
                                        <span>{{ userprofile.dob }}</span>
                                    </div>
                                    <div><i class="fa fa-drivers-license-o"></i>
                                        <span>{{ userprofile.get_prog_display }}</span>
                                    </div>
                                    <div><i class="fa fa-graduation-cap"></i>
                                        <span>{{ userprofile.get_branch_display }}</span>
                                    </div>
                                    <div><i class="fa fa-calendar-o"></i>
                                        <span>{{ userprofile.get_year_display }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-block">
                                <h4 class="card-title">Skills</h4>
                                <div id="hr"></div>
                                <div class="flex-column">
                                    {% if not userprofile.skills_as_list %}
                                        <small>Not yet added!</small>
                                    {% else %}
                                        <h4 class="d-flex flex-wrap">
                                            {% for skill in userprofile.skills_as_list %}
                                                <span class="chip"><a
                                                        href="{% url 'konnekt:search' %}?q={{ skill|urlencode }}">{{ skill }}</a></span>
                                            {% endfor %}
                                        </h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-block">
                                <h4 class="card-title">About</h4>
                                <div id="hr"></div>
                                {% if not userprofile.about %}
                                    <small>Not yet added!</small>
                                {% else %}
                                    <div class="text-center" style="word-wrap: break-word">
                                        {{ userprofile.about|linebreaks }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-block">
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title">Social Links</h4>
                                    {% if request.user.id == userprofile.user.id %}
                                        {% if not social_media_count == userprofile.user.sociallink_set.all.count %}
                                            <a href="{% url 'oauth:link-add' %}" data-toggle="tooltip"
                                               data-placement="left"
                                               title="Add Social Link"><i class="fa fa-plus text-primary"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div id="hr"></div>
                                <div id="icons" class="flex-column">
                                    {% if not userprofile.user.sociallink_set.all %}
                                        <small>Not yet added!</small>
                                    {% else %}
                                        {% for link in userprofile.user.sociallink_set.all %}
                                            <div class="d-flex justify-content-between align-middle">
                                                <div style="word-wrap: break-word"><i class="fa {{ link.get_fai }}"></i>
                                                    <span>{{ link.link|urlizetrunc:36 }}</span>
                                                </div>
                                                {% if request.user.id == userprofile.user.id %}
                                                    {% if not social_media_count == userprofile.user.sociallink_set.all.count %}
                                                        <div id="edit" class="align-middle">
                                                            <a href="{% url 'oauth:link-edit' request.user.username link.social_media %}"
                                                               data-toggle="tooltip" data-placement="left"
                                                               title="Edit {{ link.get_social_media_display }} Link"><i
                                                                    class="fa fa-pencil"></i></a>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customscripts %}
    <script src="{% static 'js/rellax.min.js' %}"></script>
    <script>
        var rellax = new Rellax('.rellax');
    </script>
{% endblock %}

{% block footer %}{% endblock %}
