{% extends 'main/base.html' %}
{% block title %}Successfully Registered | {{ block.super }}{% endblock %}
{% block main %}
    <div class="container-fluid" style="height: 100vh">
        <div class="row flex-center flex-column text-center">
            <div>
                {% if messages %}
                    <div class="card card-success text-center z-depth-2 animated fadeIn mb-1">
                        <div class="card-block">
                            <ul class="white-text mb-0">
                                {% for message in messages %}
                                    {% if 'username' in message.tags %}
                                        <li>
                                            <h2 class="h2-responsive animated fadeIn mb-2">Hi {{ message }},</h2>
                                        </li>
                                        <li>
                                            <p class="animated fadeIn mb-2">You've succesfully registered at Student's
                                                gymkhana portal, use the following button to activate your account.</p>
                                        </li>
                                    {% endif %}
                                    {% if 'activation-link' in message.tags %}
                                        <li>
                                            <a href="{{ message|safe }}" class="btn  btn-secondary animated fadeIn mb-2">Activate</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <h1 class="animated fadeIn mb-2">Hi {{ user.get_full_name|default:'Anonymous User' }},</h1>
                    <h2 class="animated fadeIn mb-1">You should visit registration page first!</h2>
                    <h5 class="animated fadeIn mb-1"><a href="{% url 'oauth:register' %}" class="btn btn-secondary">Register</a>
                    </h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}