{% extends 'main/base.html' %}
{% load staticfiles %}
{% block customstyles %}
    <style>
        .view {
            background: url("{% static 'assets/others/reg_back.jpg' %}") no-repeat center;
            background-size: cover;
        }

        .d-flex .md-form.f-icon {
            width: 3rem;
        }

        .password-help ul {
            text-align: left;
        }

        .password-help ul li {
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block main %}
    <!--/Form without header-->
    <div class="reg-form mb-sm-5">
        <!-- Purple Header -->
        <div class="edge-header deep-purple"></div>

        <!-- Main Container -->
        <div class="container free-bird">
            <div class="row flex-center">
                <div class="col-md-9 mx-auto card-block white z-depth-1 p-lg-5 p-md-4 p-sm-4">
                    <!--Register Form-->
                    {{ form.non_field_errors }}
                    <form id="reg-form" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                {% if form.phone.errors %}
                                    {% for error in form.phone.errors %}
                                        <p class="red-text mb-1">
                                            <small>{{ error|escape }}</small>
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="md-form">
                                    {{ form.phone }}
                                    <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {% if form.gender.errors %}
                                    {% for error in form.gender.errors %}
                                        <p class="red-text mb-1">
                                            <small>{{ error|escape }}</small>
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="md-form">
                                    {{ form.gender }}
                                    <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }} *</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                {% if form.dob.errors %}
                                    {% for error in form.dob.errors %}
                                        <p class="red-text mb-1">
                                            <small>{{ error|escape }}</small>
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="md-form">
                                    {{ form.dob }}
                                    <label for="{{ form.dob.id_for_label }}">{{ form.dob.label }} *</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {% if form.prog.errors %}
                                    {% for error in form.prog.errors %}
                                        <p class="red-text mb-1">
                                            <small>{{ error|escape }}</small>
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="md-form">
                                    {{ form.prog }}
                                    <label for="{{ form.prog.id_for_label }}">{{ form.prog.label }} *</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% if form.branch.errors %}
                                    {% for error in form.branch.errors %}
                                        <p class="red-text mb-1">
                                            <small>{{ error|escape }}</small>
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="md-form">
                                    {{ form.branch }}
                                    <label for="{{ form.branch.id_for_label }}">{{ form.branch.label }} *</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {% if form.year.errors %}
                                    {% for error in form.year.errors %}
                                        <p class="red-text mb-1">
                                            <small>{{ error|escape }}</small>
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="md-form">
                                    {{ form.year }}
                                    <label for="{{ form.year.id_for_label }}">{{ form.year.label }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% if form.roll.errors %}
                                    {% for error in form.roll.errors %}
                                        <p class="red-text mb-1">
                                            <small>{{ error|escape }}</small>
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                <div class="md-form">
                                    {{ form.roll }}
                                    <label for="{{ form.roll.id_for_label }}">{{ form.roll.label }} *</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="float-left"><strong>*</strong> <small
                                    class="red-text">Can't be changed later.</small></span>
                            <button class="btn btn-primary float-right" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.Main Container -->
    </div>
{% endblock %}
{% block customscripts %}
    <script src="{% static 'js/register.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').pickadate({
                format: 'yyyy-mm-dd',
                today: '',
                clear: 'Clear',
                close: 'Close'
            });
            $('.mdb-select').material_select();
        });
    </script>
{% endblock %}
{% block footer %}
{% endblock %}