{% extends 'forum/base.html' %}
{% block title %}Add New Social Link{% endblock %}
{% block navtitle %}Add New Social Link{% endblock %}
{% block customstyles %}
    <style>
        html,
        body,
        main,
        .view {
            height: 100%;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="view flex-center">
        <div class="container">
            <div class="row flex-center">
                <div class="col-md-8">
                    {% if form.social_media.field.choices|length == 1 %}
                        <h2 class="h2-responsive">You cannot add more links, go back to <a
                                href="{{ request.user.userprofile.get_absolute_url }}">profile detail</a> page and edit
                            the existing ones.</h2>
                    {% else %}
                        <div class="card p-5">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="md-form form-sm">
                                    <i class="fa fa-link text-primary prefix"></i>
                                    <div class="ml-5">
                                        <select class="mdb-select" name="{{ form.social_media.name }}"
                                                id="{{ form.social_media.id_for_label }}" required>
                                            {% for value, label in form.social_media.field.choices %}
                                                <option value="{{ value }}">{{ label }}</option>{% endfor %}
                                        </select>
                                        <label class="ml-5"
                                               for="{{ form.social_media.id_for_label }}">{{ form.social_media.label }}</label>
                                    </div>
                                </div>
                                <div class="md-form">
                                    <i class="prefix"></i>
                                    <label for="{{ form.link.id_for_label }}">Link</label>
                                    <input type="text" class="form-control" name="{{ form.link.name }}" maxlength="200"
                                           required id="{{ form.link.id_for_label }}"/>
                                </div>
                                <button class="btn btn-primary float-right" type="submit">Add</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customscripts %}
    <script>
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });
    </script>
{% endblock %}

{% block footer %}{% endblock %}