
*.pyc
.idea/*
.idea
/.idea/
/.idea/*
*.pyc
media
/media
media/*
/media/*
staticfiles
/staticfiles
staticfiles/*
/staticfiles/*
/static/*
static/
static
db.sqlite3
templates
/templates
templates/*
/templates/*
migrations
/migrations
migrations/*
/migrations/*
