language: python
python:
  - "3.6"
addons:
  postgresql: "9.6"
dist: trusty
env:
  - DJANGO_SETTINGS_MODULE=gymkhana.settings DJANGO_SECRET_KEY="q$o5mx19x9(9_^rzqf@o@s^t%t!ghix7($f9ymy49_^ryzq9x9"
git:
    submodules: false
before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  - psql -c "CREATE DATABASE gymkhanadb;" -U postgres
  - psql -c "CREATE USER gymkhanauser WITH LOGIN PASSWORD 'password';" -U postgres
  - psql -c "ALTER ROLE gymkhanauser WITH CREATEDB;" -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE gymkhanadb TO gymkhanauser;" -U postgres
install:
  - pip3 install coveralls
  - pip3 install pipenv
  - pipenv install --dev
script:
  - cp .env.example .env
  - cd src
  - source "$(pipenv --venv)"/bin/activate
  - flake8 .
  - python3 manage.py makemigrations
  - python3 manage.py migrate
  - coverage run manage.py test
#after_success:
#  - coveralls
