<div id="event_schedule_table">
    <div class="container">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td scope="row" colspan="3" class="text-center table-heading text-uppercase">{{ festival.name }} Event Schedule</td>
            </tr>
            {% for events in event_category_list %}
                <tr>
                    <td scope="row" colspan="3" class="text-center event-heading text-uppercase">{{ events.name }}</td>
                </tr>
                <tr class="table-sub-heading text-uppercase">
                    <th style="width: 60%;">Events</th>
                    <th style="width: 20%;">Date & Time</th>
                    <th style="width: 20%;">Venue</th>
                </tr>
                {% for event in events.event_set.all %}
                    <tr>
                        <td>{{ event.name.title }}</td>
                        <td>{{ event.timestamp|date:'d N , P'|default:'Available Soon'}}</td>
                        <td>{{ event.location.title|default:'Available Soon' }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>