{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title %}Page not found!{% endblock %}

{% block navbar %}
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main:index' %}">
                <img src="{% static 'assets/favicon.png' %}" alt="logo" style="height: 2.2rem;width: auto;">
            </a>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container mt-5 mb-3">
        <div class="d-flex justify-content-center text-center">
            <div class="flex-column"><i class="fa fa-cogs" style="font-size: 20rem; color: rgba(41,58,72,.8)"></i>
                <h1 class="h1-responsive">Uh oh! Something went wrong.</h1>
                <h4 class="h4-responsive">We encountered an internal server error, but don't worry. Head over to Github
                    and <a href="https://github.com/devlup-labs/gymkhana_portal/issues/new" target="_blank">create an
                        issue</a> describing the things you did which led to this error. We will fix it as soon as
                    possible.
                </h4>
                <div><a href="{% url 'main:index' %}" role="button" class="btn btn-large btn-primary"><i
                        class="fa fa-home left"></i> Home</a>
                    <a href="{% url 'forum:index' %}" role="button" class="btn btn-large btn-primary"><i
                            class="fa fa-newspaper-o left"></i> Forum</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customscripts %}
    <script>
        new WOW().init();
    </script>
{% endblock %}