{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block metatags %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% endblock %}
    <title>{% block title %}Students' Gymkhana Forum{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    {% block mdbcss %}
        <link rel="stylesheet" href="{% static 'css/compiled.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mdbadmin.min.css' %}">
    {% endblock %}
    <link rel="icon" href="/static/assets/default-favicon.ico">
    {% block customstyles %}
    {% endblock %}
</head>
<body class="fixed-sn {% block skin %}white-skin{% endblock %}">
{% block header %}
    <!--Double navigation-->
    <header>
        {% block sidenavcontent %}
            <!-- Sidebar navigation -->
            <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">
                <!-- Logo -->
                <li class="li-user-view">
                    <div class="background">
                        <img src="{% include 'oauth/mixins/user_cover_src_small_mixin.html' with userprofile=request.user.userprofile %}">
                    </div>
                    <div class="hm-black-light">
                        <div class="user-view mask">
                            <div><img class="circle" src="


                                    {% if request.user.userprofile.avatar %}{{ request.user.userprofile.avatar.crop.64x64 }}{% else %}{% static 'assets/others/missing.png' %}{% endif %}">
                            </div>
                            <div><span class="white-text name">{{ request.user.get_full_name }}</span></div>
                            <div><span class="white-text email">{{ request.user.email }}</span></div>
                        </div>
                    </div>
                </li>
                <!--/. Logo -->
                <br>
                {% block sidenavlower %}
                    <!-- Side navigation categories -->
                    <li>
                        <ul id="side-menu" class="collapsible collapsible-accordion">
                            <li id="menu-item-12031"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12031">
                                <a class="collapsible-header waves-effect"
                                   href="{{ request.user.userprofile.get_absolute_url }}">
                                    <i class="fa fa-user"></i>
                                    Profile</a></li>
                            <li id="menu-item-13028"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-13028">
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fa fa-database" aria-hidden="true"></i>
                                    Categories
                                    <i class="fa fa-angle-down rotate-icon rotate-element">
                                    </i></a>
                                <div class="collapsible-body" style="display: none;">
                                    <ul class="sub-menu">
                                        <li id="menu-item-338"
                                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-338">
                                            <a class="collapsible-header waves-effect" href="{% url 'forum:index' %}">All
                                                Questions</a></li>
                                        <li id="menu-item-338"
                                            class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-338">
                                            <a class="collapsible-header waves-effect"
                                               href="{% url 'forum:answered-by-user' %}">Answered By You</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% comment %}<li id="menu-item-12031"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12031">
                                <a class="collapsible-header waves-effect" href="#">
                                    <i class="fa fa-calendar"></i>
                                    Events</a></li>{% endcomment %}
                            <li id="menu-item-12031"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12031">
                                <a class="collapsible-header waves-effect" href="{% url 'main:index' %}">
                                    <i class="fa fa-home"></i>
                                    Home</a></li>
                            <li id="menu-item-12031"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12031">
                                <a class="collapsible-header waves-effect" href="#">
                                    <i class="fa fa-question-circle"></i>
                                    Help</a></li>
                            <li id="menu-item-12031"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12031">
                                <a class="collapsible-header waves-effect" href="#">
                                    <i class="fa fa-info"></i>
                                    About</a></li>
                        </ul>
                    </li>
                    <!--/. Side navigation categories -->
                {% endblock %}
                <div class="sidenav-bg mask-strong"></div>
            </ul>
        {% endblock %}
        <!--/. Sidebar navigation -->
        {% block navbar %}
            <!-- Navbar -->
            <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">
                <!-- SideNav slide-out button -->
                <div class="float-left">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <!-- Breadcrumb-->
                <div class="breadcrumb-dn mr-auto ml-3">
                    <h5 class="h5-responsive">{% block navtitle %}Breadcrumb or page title{% endblock %}</h5>
                </div>
                <ul class="nav navbar-nav nav-flex-icons ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'forum:index' %}" class="nav-link"><i class="fa fa-home"></i> <span
                                class="hidden-sm-down">Forum</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'konnekt:index' %}" class="nav-link"><i class="fa fa-handshake-o"></i> <span
                                class="hidden-sm-down">Konnekt</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="account" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-user"></i> <span class="hidden-sm-down">Account</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account">
                            <a class="dropdown-item"
                               href="{{ request.user.userprofile.get_absolute_url }}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- /.Navbar -->
        {% endblock %}
    </header>
    <!--/.Double navigation-->
{% endblock %}
<!--Content-->
{% block content %}
    <main>
        {% block main %}
            <div class="container-fluid">
                <div style="height: 2000px"></div>
            </div>
        {% endblock %}
    </main>
{% endblock %}
<!--Footer-->
{% block footer %}
    <!--Footer-->
    <footer class="page-footer center-on-small-only pt-0">
        {% comment %}<!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-md-1">
                    <h5 class="title">Footer Content</h5>
                    <p>Here you can use rows and columns here to organize your footer content.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-3 offset-md-1">
                    <h5 class="title">Links</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-3">
                    <h5 class="title">Navigation</h5>
                    <ul>
                        <li><a href="{% url 'main:index' %}">Gymkhana</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>
        <!--Social buttons-->
        <div class="social-section">
            <ul>
                <li><a class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
                <li><a class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
                <li><a class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
                <li><a class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
                <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
                <li><a class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a></li>
                <li><a class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>
            </ul>
        </div>
        <!--/.Social buttons-->{% endcomment %}
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © {% now "Y" %} Copyright: <a href="{% url 'forum:index' %}"> Students' Gymkhana WebD Team </a>
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
{% endblock %}

<!--Scripts-->
{% block scripts %}
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/compiled.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/upvote-toggle.js' %}"></script>
{% endblock %}

{% block customscripts %}
{% endblock %}

{% block navscripts %}
    <script>
        $(".button-collapse").sideNav();
        // Custom scrollbar init
        var el = document.querySelector('.custom-scrollbar');
        Ps.initialize(el);
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                'trigger': 'hover'
            })
        });
    </script>
{% endblock %}
</body>
</html>