{% extends 'forum/base.html' %}
{% load staticfiles %}
{% block title %}{{ topic.title }} - {{ topic.number_of_answers }} answer{{ topic.number_of_answers|pluralize }} | {{ block.super }}{% endblock %}
{% block mdbcss %}
    <link rel="stylesheet" href="{% static 'css/mdbadmin.min.css' %}">{% endblock %}
{% block customstyles %}
    <link rel="stylesheet" href="{% static 'css/topicdetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    <style>
        article#topicAuthor {
            min-height: 10rem;
        }
    </style>
{% endblock %}
{% block navtitle %}{{ topic.title }} - detail{% endblock %}


{% block content %}
    <!-- header-->
    <div class="Hero DiscussionHero DiscussionHero--colored primary-color">
        <div class="header-container flex-center pb-1">
            <ul class="DiscussionHero-items">
                <li class="item-title pl-5 pr-5"><h1 class="DiscussionHero-title h1-responsive">{{ topic.title }}</h1>
                </li>
                <br>
                {% for tag in topic.tags_as_list %}
                    <li class="item-tags"><span class="TagsLabel "><a class="TagLabel colored"><span
                            class="TagLabel-text">{{ tag }}</span></a></span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <main class="container-fluid pt-2 pr-0">
        <div class="container-fluid">
            <div class="PostStream-item">
                <article id="topicAuthor" class="Post undefined CommentPost Post--edited">
                    <div>
                        <div class="Post-header mb-1">
                            <ul>
                                <li class="item-user">
                                    <div class="PostUser"><h3><a href="{{ topic.author.get_absolute_url }}"><img
                                            class="Avatar PostUser-avatar Avatar-Ques"
                                            src="
                                                    {% if topic.author.avatar %}{{ topic.author.avatar.crop.200x200 }}{% else %}{% static 'assets/others/missing.png' %}{% endif %}">
                                        <span class="username"><a
                                                href="{{ topic.author.get_absolute_url }}">{{ topic.author.user.get_full_name }}</a></span></a>
                                    </h3>
                                        <ul class="PostUser-badges badges"></ul>
                                    </div>
                                </li>
                                <li class="item-meta">
                                    <div class="Dropdown PostMeta">{{ topic.created_at }}</div>
                                </li>
                            </ul>
                        </div>
                        <!--topic content-->
                        <div class="Post-body">{{ topic.content|safe }}</div>
                        <aside class="Post-actions">
                            <ul>
                                {% include 'forum/mixins/upvote_mixin.html' with object=topic %}
                                <li class="item-reply smooth-scroll ml-2">
                                    <a href="#reply" data-toggle="tooltip" data-placement="left" title="Reply">
                                        <button class="Button Button--link" type="button" data-toggle="collapse"
                                                data-target="#collapseReply" aria-expanded="false"
                                                aria-controls="collapseReply">
                                            <span class="Button-label"><i class="fa fa-reply"></i></span></button>
                                    </a>
                                </li>
                                {% if topic.author == request.user.userprofile %}
                                    <li class="item-reply mr-2 ml-5">
                                        <form action="{{ topic.get_delete_url }}" method="post"
                                              onsubmit="return confirm('Are you sure you want to delete this topic?')">
                                            {% csrf_token %}
                                            <button class="Button Button--link" type="submit" data-toggle="tooltip"
                                                    data-placement="left" title="Delete">
                                                <span class="Button-label"><i class="fa fa-trash-o"></i></span>
                                            </button>
                                        </form>
                                    </li>
                                    <li class="item-reply">
                                    <a href="{{ topic.get_edit_url }}" data-toggle="tooltip" data-placement="left"
                                       title="Edit">
                                        <button class="Button Button--link" type="button">
                                            <span class="Button-label"><i class="fa fa-pencil"></i></span>
                                        </button>
                                    </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </aside>
                    </div>
                </article>
            </div>
        </div>
        <div class="container-fluid App-content mb-3">
            <div id="content">
                <div class="DiscussionPage">
                    <div class="DiscussionPage-discussion">
                        <!--right side nav-->
                        <div class="container">
                            <!-- main topic-->
                            <div id="reply">
                                <div class="PostStream">
                                    <div class="PostStream-item">
                                        <article class="Post undefined EventPost DiscussionTaggedPost">
                                            <div><i class="icon fa fa-fw fa-tag EventPost-icon"></i>
                                                <div class="EventPost-info">
                                                    <span class="username bold">
                                                {% if topic.number_of_answers %}
                                                    Got {{ topic.number_of_answers }}
                                                    answer{{ topic.number_of_answers|pluralize }}
                                                {% else %}
                                                    No answers yet. Be the first to answer!!!
                                                {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <!--write new answer div-->
                                <div class="PostStream-item collapse" id="collapseReply">
                                    <article class="Post ReplyPlaceholder">
                                        <div class="Post-header"><img
                                                src="

                                                        {% if request.user.userprofile.avatar %}{{ request.user.userprofile.avatar.crop.200x200 }}{% else %}{% static 'assets/others/missing.png' %}{% endif %}"
                                                class="Avatar PostUser-avatar"/>
                                            <div>
                                                Post answer/reply...
                                                {{ form.non_field_errors }}
                                                {% if form.content.errors %}
                                                    {% for error in form.content.errors %}
                                                        <p class="red-text mb-1">{{ error|safe }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="topic" id="id_topic"
                                                           value="{{ topic.id }}"/>
                                                    <input type="hidden" name="author" id="id_author"
                                                           value="{{ request.user.userprofile.id }}"/>
                                                    {{ form.content }}
                                                    <button class="btn btn-primary" type="submit">Reply</button>
                                                </form>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="PostStream">
                                    <!--answers-->
                                    {% include 'forum/mixins/topic_answer_list_mixin.html' with answer_list=answer_list %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block customscripts %}
    {{ form.media }}
{% endblock %}

{% block footer %}
    <footer class="page-footer center-on-small-only pt-0">
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="{% url 'forum:index' %}"> Students' Gymkhana WebD Team </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
{% endblock %}
