{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block metatags %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% endblock %}
    <title>{% block title %}Students' Gymkhana Festival{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    {% block mdbcss %}
        <link rel="stylesheet" href="{% static 'css/compiled.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mdbadmin.min.css' %}">
    {% endblock %}
    <link rel="icon" href="/static/assets/default-favicon.ico">
    {% block customstyles %}
    {% endblock %}
</head>
<body class="fixed-sn {% block skin %}white-skin{% endblock %}">
{% block header %}
    <header>
    </header>
{% endblock %}
<!--Content-->
{% block content %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
{% endblock %}
<!--Footer-->
{% block footer %}
    <footer class="page-footer center-on-small-only pt-0">
    </footer>
{% endblock %}
<!--/.Footer-->

<!--Scripts-->
{% block scripts %}
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/compiled.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/upvote-toggle.js' %}"></script>
{% endblock %}

{% block customscripts %}
{% endblock %}
</body>
</html>