{% extends 'festivals/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load hitcount_tags %}
{% block mdbcss %}
    <link rel="stylesheet" href="{% static 'css/mdbadmin.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
{% endblock %}
{% block title %}{{ festival.name }} | Festival IIT Jodhpur{% endblock %}
{% block customstyles %}
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/festivals/nimble.css' %}">
{% endblock %}
{% block header %}
    <header>
        <a id="back_arrow">
            <i class="fa fa-arrow-circle-left"></i>
        </a>
        {#        <a id="nav_bars">#}
        {#            <i class="fa fa-bars fa-3x"></i>#}
        {#        </a>#}
    </header>
{% endblock %}
{% block main %}
    <div id="mascot">
        <img src="{% static 'assets/festivals/nimble/bumblebeeFinal2.gif' %}"/>
    </div>
    <div class="front-page">

        <div class="section" id="section0">
            <div id="nimble_heading">
                NIMBLE
            </div>
            <div id="nimble_nfs">
                NEED FOR SPEED
            </div>
            <div id="nimble_date">
                8-10 Feb'19
            </div>
            <div class="social_icons">
                <a href=""><img src="{% static 'assets/festivals/nimble/facebook_nimble.png' %}"></a>
                <a href=""><img src="{% static 'assets/festivals/nimble/youtube_nimble.png' %}"></a>
            </div>
        </div>
    </div>

{% endblock %}