{% extends 'festivals/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load hitcount_tags %}
{% block mdbcss %}
    <link rel="stylesheet" href="{% static 'css/mdbadmin.min.css' %}">
{% endblock %}
{% block title %}
    {{ festival.name }} | Festival IIT Jodhpur
{% endblock %}

{% block main %}
    {% if festival.published %}
        {% if festival.default_html %}
            {% include 'festivals/default.html' %}
        {% else %}
            {% include 'festivals/custom.html' %}
        {% endif %}
    {% else %}
        {% include 'festivals/coming_soon.html' %}
    {% endif %}
{% endblock %}
