/* TEMPLATE STYLES */
        /* Necessary for full page carousel*/

        html,
        body,
        .view {
            height: 100%;
        }

        /* Navigation*/

        .navbar {
            background-color: transparent;
            box-shadow: none;
        }

        .scrolling-navbar {
            -webkit-transition: all .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: all .5s ease-in-out, padding .5s ease-in-out;
            -o-transition: all .5s ease-in-out, padding .5s ease-in-out;
            transition: all .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #1C2331;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        }

        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #1C2331;
            }
        }

        /* Carousel*/

        .carousel,
        .carousel-item,
        .active {
            height: 100%;
        }

        .carousel-inner {
            height: 100%;
        }

        @media (min-width: 776px) {
            .carousel .view ul li {
                display: inline;
            }

            .carousel .view .full-bg-img ul li .flex-item {
                margin-bottom: 1.5rem;
            }
        }