{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title %}{{ club.name }} | {{ block.super }}{% endblock %}
{% block skin %}{{ club.skin|default:block.super }}{% endblock %}
{% block customstyles %}
    <link rel="stylesheet" href="{% static 'css/club_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/news_event.css' %}"/>
    {% if club.cover %}
        <style>
            @media (max-width: 415px) {
                .society-photo {
                    height: 20rem !important;
                    background: url("{{ club.cover.crop.450x420 }}") no-repeat center !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }

            @media (min-width: 416px) and (max-width: 1000px) {
                .society-photo {
                    height: 23rem !important;
                    background: url("{{ club.cover.crop.1280x900 }}");
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }

            @media (min-width: 1001px) {
                .society-photo {
                    height: 28rem !important;
                    background: url("{{ club.cover.crop.1440x750 }}");
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }
        </style>
    {% endif %}
{% endblock %}
{% block main %}
    <div class="streak streak-lg streak-photo society-photo view hm-black-light">
        <div class="mask flex-center">
            <div class="flex-center text-white">
                <ul>
                    <li><h1 class="h1-responsive wow fadeIn"><b>{{ club.name }}</b></h1></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="streak-edge-header card z-depth-1-half">
        <div class="col-md-12">
            <h2 class="h2-responsive mb-2">About</h2>
            <div id="description">{{ club.description|safe }}</div>
            {% if club.resources_link %}
                <div class="float-right">
                    <small>Link to resources</small>
                    <a href="{{ club.resources_link }}" target="_blank" role="button" class="btn btn-secondary"><i
                            class="fa fa-external-link"></i></a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container mt-2">
        <div class="row mb-2">
            <div class="col-md-4 mt-2">
                {% include 'main/mixins/event_list_module.html' with event_list=event_list %}
            </div>
            <div class="col-md-8 mt-1">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-2 primary-color" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">News</a>
                    </li>
                </ul>
                <!-- Tab panels -->
                <div class="tab-content card-block">
                    <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                        <br>
                        {% include 'main/mixins/activity_list_module.html' with activity_list=activity_list %}
                    </div>
                    <div class="tab-pane fade pl-md-4 pr-md-4" id="panel2" role="tabpanel">
                        <br>
                        {% include 'main/mixins/news_list_club_module.html' with news_list=news_list %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'main/mixins/event_modal_mixin.html' with event_list=event_list %}
    {% include 'main/mixins/news_modal_mixin.html' with news_list=news_list %}
    <div class="container mt-1">
        <div class="row flex-center">
            <div class="col-sm-10">
                <!--Card Primary-->
                <div class="card primary-color text-center z-depth-2 mt-2 mb-2">
                    <div class="card-block">
                        <h3 class="h3-responsive white-text mb-0">Key People</h3>
                    </div>
                </div>
                <!--/.Card Primary-->
            </div>
        </div>
    </div>
    <div class="container section team-section">
        <div class="row flex-center">
            {% include 'main/mixins/club_user_round_card_mixin.html' with userprofile=club.captain designation='Captain' %}
            {% if club.vice_captain_one %}
                {% include 'main/mixins/club_user_round_card_mixin.html' with userprofile=club.vice_captain_one designation='Vice Captain' %}
            {% endif %}
            {% if club.vice_captain_two %}
                {% include 'main/mixins/club_user_round_card_mixin.html' with userprofile=club.vice_captain_two designation='Vice Captain' %}
            {% endif %}
           {% if club.vice_captain_three %}
                {% include 'main/mixins/club_user_round_card_mixin.html' with userprofile=club.vice_captain_three designation='Vice Captain' %}
            {% endif %}
            {% if club.mentor %}
                {% include 'main/mixins/club_user_round_card_mixin.html' with userprofile=club.mentor designation='Mentor' %}
            {% endif %}
        </div>
    </div>
    {% if club.gallery %}
        <div class="container">
            <div class="row flex-center">
                <div class="col-sm-10">
                    <!--Card Primary-->
                    <div class="card primary-color text-center z-depth-2 mt-2 mb-2">
                        <div class="card-block">
                            <h3 class="h3-responsive white-text mb-0">Gallery</h3>
                        </div>
                    </div>
                    <!--/.Card Primary-->
                </div>
            </div>
        </div>
        <div id="mdb-lightbox-ui"></div>
        <div class="container-fluid">
            <div class="row mt-1 mb-2">
                {% include 'main/mixins/club_gallery_mixin.html' with gallery=club.gallery %}
            </div>
        </div>
    {% endif %}
    {% if club.custom_html %}
        {{ club.custom_html|safe }}
    {% endif %}
    {% if member_list %}
        <div class="container">
            <div class="row flex-center">
                <div class="col-sm-10">
                    <!--Card Primary-->
                    <div class="card primary-color text-center z-depth-2 mt-2 mb-2">
                        <div class="card-block">
                            <h3 class="h3-responsive white-text mb-0">Volunteers</h3>
                        </div>
                    </div>
                    <!--/.Card Primary-->
                </div>
            </div>
        </div>
        <section class="container-fluid section team-section">
            <!--First row-->
            <div class="row flex-center mt-3 center-on-small-only">
                {% for member in member_list %}
                    {% include 'main/mixins/club_member_card_mixin.html' with userprofile=member %}
                {% endfor %}
            </div>
            <!--/Second row-->
        </section>
    {% endif %}

{% endblock %}

{% block customscripts %}
    <script>
        new WOW().init();
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("/static/mdb-addons/mdb-lightbox-ui.html");
        });

        $(document).ready(function () {
            $('#carousel-gallery').hammer().on('swipeleft', function () {
                $(this).carousel('next');
            })
            $('#carousel-gallery').hammer().on('swiperight', function () {
                $(this).carousel('prev');
            })
        });
    </script>
{% endblock %}
