{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title %}{{ senate.name }} | Students' Gymkhana - IIT Jodhpur{% endblock %}
{% block skin %}{{ senate.skin }}{% endblock %}
{% block customstyles %}
    <link rel="stylesheet" href="{% static 'css/contact_card.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/club_style.css' %}">
    {% if senate.cover %}
        <style>
            @media (max-width: 415px) {
                .senate-photo {
                    height: 20rem !important;
                    background: url("{{ senate.cover.crop.450x420 }}") no-repeat center !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }

            @media (min-width: 416px) and (max-width: 1000px) {
                .senate-photo {
                    height: 23rem !important;
                    background: url("{{ senate.cover.crop.1280x900 }}");
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }

            @media (min-width: 1001px) {
                .senate-photo {
                    height: 28rem !important;
                    background: url("{{ senate.cover.crop.1440x750 }}");
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    -webkit-background-size: cover !important;
                }
            }
        </style>
    {% endif %}
    <style>
        .cream-back {
            background: #F5F5F5
        }
    </style>
{% endblock %}
{% block main %}
    <div class="streak streak-lg streak-photo senate-photo view hm-black-light">
        <div class="mask flex-center">
            <div class="flex-center text-white">
                <ul>
                    <li><h1 class="h1-responsive wow fadeIn"><b>{{ senate.name }}</b></h1></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="streak-edge-header card z-depth-1-half mb-2">
        <div class="col-md-12">
            <h2 class="h2-responsive mb-2">About</h2>
            <div id="description">{{ senate.description|safe }}</div>
            {% if senate.report_link %}
                {% if request.user.is_authenticated %}
                    <div>
                        <a href="{{ senate.report_link }}" target="_blank" role="button" class="btn btn-secondary">
                            Annual Report <i class="fa fa-external-link ml-1"></i></a>
                    </div>
                {% else %}
                    <p class="blockquote"><a href="{% url 'login' %}?next={{ request.path }}">Login</a> to view the
                        annual society report.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="gallery"></div>
        </div>
    </div>
    <div class="cream-back">
        <div class="container pt-2 section team-section">
            <div class="row flex-center">
                <div class="col-sm-10">
                    <!--Card Primary-->
                    <div class="card primary-color text-center z-depth-2 mt-2 mb-2">
                        <div class="card-block">
                            <h3 class="h3-responsive white-text mb-0">Key People</h3>
                        </div>
                    </div>
                    <!--/.Card Primary-->
                </div>
                {% for membership in senate.senatemembership_set.all %}
                    <div class="col-lg-4 col-md-6 pt-md-2 mb-r">
                        {% include 'main/mixins/user_card_mixin.html' with userprofile=membership.userprofile designation=membership.get_role_display %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}