{% load staticfiles %}
<div class="card-wrapper">
    <div id="card-{{ userprofile.id }}" class="card-rotating effect__click">
        <!--Front Side-->
        <div class="face front">
            <!-- Image-->
            <div class="card-up">
                <img src="{% include 'oauth/mixins/user_cover_src_mixin.html' with userprofile=userprofile %}"
                     class="img-fluid">
            </div>
            <!--Avatar-->
            <div class="avatar"><a href="{{ userprofile.get_absolute_url }}"><img
                    src="{% if userprofile.avatar %}{{ userprofile.avatar.crop.200x200 }}{% else %}{% static 'assets/others/missing.png' %}{% endif %}" class="rounded-circle img-responsive">
            </div>
            <!--Content-->
            <div class="card-block">
                <h4><a class="black-text" href="{{ userprofile.get_absolute_url }}">{{ userprofile.user.get_full_name|truncatewords:2 }}</a></h4>
                <p class = "h-48">{{ designation|default:''|truncatechars:75 }}</p>
                <!--Triggering button-->
                <div class="flex-center">
                    <a class="rotate-btn detail-btn" data-card="card-{{ userprofile.id }}"><i class="fa fa-repeat"></i> Details</a>
                </div>
            </div>
        </div>
        <!--/.Front Side-->
        <!--Back Side-->
        <div class="face back">
            <!--Content-->
            <h4>About {{ userprofile.user.first_name }}</h4>
            <hr>
            <div class="about">
                <h5><a href="https://api.whatsapp.com/send?phone=91{{ userprofile.phone }}">
                    <i class="icons-sm-i fa fa-whatsapp green-text"></i></a>
                    <a href="tel:{{ userprofile.phone }}">+91-{{ userprofile.phone }}</a>
                </h5>
                <h6 class="h6-responsive">
                    <a class="icons-sm email-ic" href="mailto:{{ userprofile.user.email }}">
                        <i class="icons-sm-i fa fa-envelope-o"></i> {{ userprofile.user.email }}</a>
                </h6>
                {{ userprofile.about|linebreaks }}
            </div>
            <hr>
            <!--Social Icons-->
            <ul class="inline-ul">
                {% for link in userprofile.user.sociallink_set.all|slice:":4" %}
                    <li><a class="icons-sm {{ link.get_sm_ic }}" target="_blank" href="{{ link.link }}"><i
                            class="{{ link.get_fai }}"></i></a></li>
                {% endfor %}
            </ul>
            <!--Triggering button-->
            <a class="rotate-btn" data-card="card-{{ userprofile.id }}"><i class="fa fa-undo"></i> Back</a>
        </div>
        <!--/.Back Side-->
    </div>
</div>
<!--/.Rotating card-->